header {
    color: #fff;
    text-align: center;
    padding: 1.618034%;
}

main {
    display: flex;
    flex: 0.5%;
}

section {
    max-width: 75%;
    margin: 1.618034% auto;
    padding: 3.236068%;
    background-color: #030000;
    flex: 0.168034%;
}

#main-list {
    position: static;
    overflow: hidden;
    background-image: url(resources/network-5987786_1920.jpg);
    opacity: 100%;
}

#main-list h7 {
    position: relative;
    z-index: 1;
}

#main-list h7::before,
#main-list h7::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000%;
    opacity: 0%;
    z-index: -1;
    transition: opacity 0.6s ease;
}

#main-list h7:hover::before,
#main-list h7:hover::after {
    opacity: 75%;
    background-image: linear-gradient(to left, #21007a, #000000);
}

#main-list h7:hover::before,
#main-list h7:hover::after {
    opacity: 75%;
    background-image: linear-gradient(to right, #000000, #21007a);
    background-position-y: -50%;
}

nav {
    display: list-item;
    padding: 0%;
    letter-spacing: 0.75px;
    line-height: 40px;
    }

h1 {
    color: #fffafa;
    font-size: 60px;
    font-family: sans-serif;
    font-variant: small-caps;
}

h2 {
    color: #000000;
    font-size: 130.9013%;
    font-family: sans-serif;
    font-weight: 600;
}

h3 {
    color: #ffffff;
    font-size: 211.8028%;
    font-family: sans-serif;
    font-weight: 600;
}

h4 {
    color: #000000;
    font-size: 130.9013%;
    font-family: sans-serif;
    font-weight: 5%;
}

h5 {
    color: #ffffff;
    font-size: 161.8034%;
    font-family: sans-serif;
    font-weight: 5%;
    font-variant: normal;
}

h6 {
    color: #000000;
    font-size: 80.9015%;
    font-family: sans-serif;
    font-weight: 5%;
    font-variant: normal;
}

h7 {
    color: #fff;
    font-size: 80.9015px;
    font-family: sans-serif;
}

h8 {
    color: #000000;
    font-size: 96.9639%;
    font-family: sans-serif;
    font-weight: 150;
    font-variant: normal;
}

a {
    color: #ffffff;
    text-decoration: solid;
    font-weight: 323.606%;
}

a:hover {
    text-decoration: underline;
    text-align: center;
    margin: 0.161803%
}

sidebar h7 nav ul li a {
    color: #ffffff;
    transition: color 0.3s ease;
}

#aboutandskills {
    opacity: 75%;
    transition: background-color 0.6s ease;
    transition-behavior: initial;
}

#aboutandskills:hover {
    background-color: #ffffff;
    opacity: 100%;
}

#aboutandskills h6 {
    transition: transform 0.6s ease;
    
}

#aboutandskills:hover h6 {
    transform: scale(1.025);
}

#aboutandskills {
    background-color: #e0e0e0;
    text-emphasis-color: black;
}

#professional-summary {
    transition: background-color 0.6s ease;
    opacity: 75%;
}

#professional-summary:hover {
    background-color: #ffffff;
    opacity: 100%;
}

#professional-summary h6 {
    transition: transform 0.6s ease;
}

#professional-summary:hover h6 {
    transform: scale(1.025);
}

#professional-summary {
    background-color: #e0e0e0;
    text-emphasis-color: black;
}

#vyomdeepansh {
    position: relative;
    overflow: hidden;
}

#vyomdeepansh h1 {
    position: relative;
    z-index: 5;
}

#vyomdeepansh h1::before,
#vyomdeepansh h1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(resources/black-1072366_1920.jpg);
    opacity: 0;
    z-index: -2;
    transition: opacity 0.6s ease;
}

#vyomdeepansh h1:hover::before,
#vyomdeepansh h1:hover::after {
    opacity: 10%;
    background-image: linear-gradient(to right, #100333, #01014b);
}

#vyomdeepansh h1:hover {
    transition: transform 0.3s ease;
    opacity: 100%;
    transform: scale(1.05);
    font-style: normal;
}

#vyomdeepansh h5:hover::before,
#vyomdeepansh h5:hover::after {
    opacity: 10%;
    background-image: linear-gradient(to right, #100333, #01014b);
}

#vyomdeepansh h5:hover {
    transition: transform 0.3s ease;
    opacity: 100%;
    transform: scale(1.05);
}


#techskills:hover {
    transition: transform 0.3s ease;
}

body {
    opacity: 1;
    transition: opacity 0.45s ease;
  }
  
.fade-out {
    opacity: 0;
  }
  
#aboutmepageparagraph {
    color: #000000;
    font-size: 80.9015%;
    font-family: sans-serif;
    font-weight: 15%;
    font-variant: normal;    
}

#aboutmepagebullets {
    color: #000000;
    font-size: 130.9013%;
    font-family: sans-serif;
    font-weight: 150;
    font-variant: normal;
    list-style-type: circle;
}

#aboutmepagesection {
    background-color: #e0e0e0;
    
}

#sidebarlist {
    list-style: none;
}

main sidebar h7 nav ul {
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: justify;
    align-content: left;
}

