body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 2.5%;
    display: flex;
    color: #fff;
    background-image: url('resources/pexels-charlotte-may-5825604.jpg');
}

header {
    color: #fff;
    text-align: center;
    padding: 5%;
    flex: 0.9;
}

main {
    display: flex;
    flex: 3;
}

section {
    max-width: 50%;
    margin: 30px auto;
    padding: 20px;
    background-color: #030000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 2;
}

sidebar {
    background-color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    cursor: pointer;
}

nav a:hover {
    text-decoration: underline;
}

h1,
h2,
h3 {
    color: #ffffff;
}

h4 {
    color: #000000;
    font-size: large;
    font-family: sans-serif;
    font-weight: 500;
}

h5 {
    color: #ffffff;
    font-size: small;
    font-family: sans-serif;
    font-weight: 500;
}

h6 {
    color: #000000;
    font-size: x-small;
    font-family: sans-serif;
    font-weight: 100;
}

h7 {
    color: #fff;
    font-size: small;
    font-family: sans-serif;
    font-weight: 200;
}

p {
    line-height: 1.6;
    color: #160303;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}


a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: dashed;
}

sidebar h7 nav ul li {
    margin-bottom: 10px;
}

sidebar h7 nav ul li a {
    color: #ffffff;
    transition: color 0.3s ease;
}

sidebar h7 nav ul li a:hover {
    color: #234d7a;
}

#aboutandskills {
    opacity: 0.75;
    transition: background-color 0.3s ease;
    transition-behavior: inherit;
}

#aboutandskills:hover {
    background-color: #ffffff;
    opacity: 1;
}

#aboutandskills h6 {
    transition: transform 0.3s ease;
    
}

#aboutandskills:hover h6 {
    transform: scale(1.105);
}

#aboutandskills {
    background-color: #e0e0e0;
    text-emphasis-color: black;
}

#professional-summary {
    transition: background-color 0.3s ease;
    opacity: 0.75;
}

#professional-summary:hover {
    background-color: #ffffff;
    opacity: 1;
}

#professional-summary h6 {
    transition: transform 0.3s ease;
}

#professional-summary:hover h6 {
    transform: scale(1.105);
}

#professional-summary {
    background-color: #e0e0e0;
    text-emphasis-color: black;
}

#main-list: {
    background-image: url('resources/newplot(2).png');
    image-rendering: optimizeQuality;
}

#main-list:hover {
    transition: background-image 0.9s ease;
    background-color: #000000;
    text-emphasis-color: white;
}

#main-list:hover h7 nav {
    transition: transform 0.3s ease;
    transform: scale(1.05);
    transform: matrix3d(1);
    background-color: matrix3d(2);
}

#vyom {
    opacity: 0.9;
}

#vyom:hover {
    transition: transform 0.3s ease;
    opacity: 1;
    background-color: #000000;
    transform: scale(1.05);     
}

#techskills:hover {
    transition: transform 0.3s ease;
}

#rounded-box {
    border-radius: 10px; /* Adjust the radius value to your preference */
    padding: 20px;
    background-color: #f0f0f0;
}